<!DOCTYPE html>
<html>
  <head>
    <title>じゃんけんゲーム</title>
  </head>
  <body>
    <div><a href="/logout">ログアウト</a></div>
    <h1>Janken GAME!</h1>
    <div th:if="${login_user}">
      Hi [[${login_user}]]
    </div>
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${users}">
        <a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a>
      </li>
    </ul>
    <h2>アクティブな試合</h2>
    <div th:each="info : ${matchInfos}">
      <tr>
        <td>id:[[${info.id}]]</td>
        <td>user1:[[${info.user1}]]</td>
        <td>user2:[[${info.user2}]]</td>
        <td>isActive:[[${info.isActive}]]</td>
      </tr>
    </div>
    <h2>試合結果</h2>
    <div th:each="match : ${matches}">
      <tr>
        <td>id:[[${match.id}]]</td>
        <td>user1:[[${match.user1}]]</td>
        <td>user2:[[${match.user2}]]</td>
        <td>user1Hand:[[${match.user1Hand}]]</td>
        <td>user2Hand:[[${match.user2Hand}]]</td>
      </tr>
    </div>
  </body>
</html>
