<!DOCTYPE html>
<html>
  <head>
    <title>じゃんけんゲーム</title>
  </head>
  <body>
    <div><a href="/logout">ログアウト</a></div>
    <h1>Janken GAME!</h1>
    <div th:if="${login_user}">
      Hi [[${login_user}]]
    </div>
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${users}">
        <a>[[${user.name}]]</a>
      </li>
    </ul>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Tyo">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
    <div th:if="${jankenResult}">
      <p>あなたの手 [[${hand}]]</p>
      <p>相手の手 Gu</p>
      <p>結果 [[${jankenResult}]]</p>
    </div>
  </body>
</html>
